.title{
    background-color: lightsalmon;
}

.main{
    background-color: beige;
    background-color: darksalmon;
    font-size: medium;
    text-align: center;
    
}

.picture{
    text-align: center;
}
