body,
h5,
h4,
p {
  margin: 3px;
  padding: 2px;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #000606;
  --h2-color: #e7e8e9;
  --accent-color: #f0e4d3;
  --highlight-color: #faf7f3;
  --background-color: #f1f1f8;
  --footer-color: #d2d3d5;
  --part-color: #ffffff;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 5px;
  margin-top: 1rem;

  border: #000606 solid 1px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  background-color: var(--h2-color);
  box-shadow: var(--main-color) 0px 4px 6px 1px;
}
/* header */

header {
  display: flex;
  gap: 15rem;
  background-color: var(--accent-color);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;

  position: fixed;
  width: 100%;
}
/* header */

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--main-color);
}

img {
  margin: auto;
  display: block;
}

nav {
  display: flex;
  background-color: var(--highlight-color);
  justify-content: center;
  gap: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;

  position: fixed;
  width: 100%;
  top: 70px;

  box-shadow: var(--main-color) 0px 4px 6px 1px;
}

nav a:hover {
  background-color: rgb(230, 237, 239);
  border-radius: 3px;
  padding: 2px;
}

#part1,
#part2,
#part3,
#part4 {
  border-bottom: var(--main-color) solid 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: #000606 solid 2px;
  border-radius: 10px;
  background-color: var(--part-color);
  box-shadow: var(--main-color) 0px 4px 6px;
  padding: 10px;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5rem;
  background-color: var(--highlight-color);
}

.Main {
  margin: auto;
  padding: 20px;
  padding-top: 120px;
  padding-left: 50px;
}

figure {
  margin: auto;
  display: block;
  text-align: center;
  padding: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--highlight-color);
  box-shadow: var(--main-color) 0px 4px 6px 1px;
  border-radius: 10px;
}

.Top {
  position: fixed;
  margin: 550px 0 0 1350px;
  background-color: rgb(221, 233, 237);
  border: var(--main-color) solid 1px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--main-color) 0px 4px 6px 1px;
}

.Top:hover {
  background-color: rgb(195, 195, 245);
  color: white;
  cursor: pointer;
}

footer {
  background-color: var(--footer-color);
  display: flex;
  justify-content: center;
  gap: 20rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  border: none;
  border: #000606 solid 1px;
}

.footer1 {
  text-align: center;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Contents {
  text-align: center;
  color: var(--main-color);
  gap: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
